.register-form-container {
  background-color: #ddd;
  padding: 24px;
  width: 800px;
}

.register-form-container input {
  display: block;
}

.error {
  color: red;
  font-size: 12px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}